<a href="https://colab.research.google.com/github/DevRichan/Fundamental-SQL-SELECT/blob/master/QUIZZ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Proyek dari Cabang A
“Jadi, apakah kamu bisa menyiapkan data transaksi penjualan dengan total revenue >= IDR 100.000? 

Format datanya yang akan kamu tampilkan adalah: kode_pelanggan, nama_produk, qty, harga, dan total, serta diurutkan mulai dari total revenue terbesar,” pinta Senja padaku.

 

Kalau kasusnya seperti ini, berarti aku perlu meng-query data tersebut dari tabel tr_penjualan yang terdapat di database perusahaan.

Aku dapat melakukan

perkalian antara kolom qty dan harga untuk memperoleh total revenue setiap kode pelanggan yang dinyatakan ke dalam kolom total, dan
menggunakan “ORDER BY total DESC” pada akhir query untuk mengurutkan data.
 

Aku pun menerima tantangan proyek ini! Senja pun segera mengirim detailnya melalui email yang berisi contoh tabel sebagai berikut untuk segera kukerjakan.

In [1]:
SELECT kode_pelanggan, nama_produk, qty, harga, qty * harga AS total FROM tr_penjualan WHERE qty * harga >= 100000 ORDER BY total DESC;

SyntaxError: ignored

**Yang di pelajari yaitu:**


Konsep Sistem Database Relasional atau Relational Database Management System (RDBMS).
Struktur penyimpanan RDBMS yang terdiri dari database, tabel, kolom (column) dan baris (row).
Pengenalan perintah SELECT untuk mengambil data dari tabel.
Teknik SELECT, dimana aku dapat:
Mengambil kolom tertentu.
Mengambil jumlah data tertentu.
Menggunakan prefix dan alias.
Menggunakan filter.