<a href="https://colab.research.google.com/github/DevRichan/Fundamental-SQL-SELECT/blob/master/SELECT_ONE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SYNTAX DASAR: 
SELECT ***column*** FROM ***nama_table***

1. Menampilkan data dari seluruh column

**SELECT * FROM ms_produk**

(*) = wildcard (untuk mengambil seluruh column)

2.  menampilkan data dari salah satu column

**SELECT nama_produk FROM ms_produk**

3. Menampilkan lebih data dari 1 column atau lebih

**SELECT nama_produk, harga FROM ms_produk**

4. Membatasi jumlah (row) data menggunakan **LIMIT**

**SELECT nama_produk, harga FROM ms_produk LIMIT 5**

5. Menghilangkan duplikasi data

**SELECT DISTINCT nama_customer, alamat FROM ms_pelanggan**

SELECT DISTINCT (nama kolom yang diambil datanya,..,..) FROM nama_tabel

**Kesimpulan**
Aku mengambil catatanku, dan mulai menulis apa yang aku pelajari, sebelum aku melanjutkan belajarku:

Perintah SELECT dapat digunakan untuk menentukan apa saja kolom yang akan diambil dengan menuliskan nama-nama kolom yang diinginkan menggunakan pemisah tanda koma.
Perintah SELECT juga dapat digunakan untuk membatasi jumlah data yang dikeluarkan. Namun untuk berbagai produk bisa berbeda penulisannya. MySQL menggunakan LIMIT untuk tujuan tersebut.
Perintah SELECT DISTINCT dapat digunakan untuk menghilangkan duplikasi baris dalam tabel dan hanya menampilkan baris data yang unik tanpa duplikasi.