<a href="https://colab.research.google.com/github/DevRichan/Fundamental-SQL-SELECT/blob/master/SELECT_USING_PREFIX_AND_ALIAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Prefix dan Alias**

**Prefix**, dimana kita akan menambahkan nama tabel di depan nama kolom.

**Alias**, dimana kita memberikan alias atau nama lain untuk tabel maupun kolom.

**SELECT t1.kode_produk AS product_code, t1.nama_produk AS product_name, t1.harga AS price FROM ms_produk AS t1;**


t1 = prefix
AS = alias

**Contoh Praktik Prefix**

Prefix = SELECT nama_tabel.nama_kolom FROM nama_tabel

SELECT ms_produk.kode_produk FROM ms_produk

**Contoh Praktik Alias**

Alias = SELECT nama_kolom AS nama_kolom_baru FROM nama_tabel

SELECT no_urut AS nomor, nama_produk As nama FROM ms_produk

bisa juga tanpa menggunakan AS:

SELECT no_urut nomor, nama_produk nama FROM ms_produk

**Contoh penggabungan Prefix dan Alias**

SELECT ms_produk.harga AS harga_jual FROM ms_produk

**Contoh Alias pada tabel**

- SELECT * FROM ms_produk t2

- SELECT t2.nama_produk, t2.harga FROM ms_produk t2;

**KESIMPULAN: **

Kesimpulan
Aku kembali mengambil catatanku dan menuliskan apa yang telah aku pelajari:

Perintah SELECT dapat ditulis dengan variasi identitas kolom dan tabel berupa prefix dan alias.
Penulisan lengkap untuk nama kolom adalah prefix berupa nama tabel disertai tanda titik sebelum nama kolom itu sendiri.
Alias adalah nama lain yang diberikan untuk kolom maupun tabel.
Alias dapat digunakan dengan keyword AS atau tanpa keyword AS setelah nama kolom dan tabel.
Prefix nama tabel bisa menggunakan alias.
Pemahaman mengenai prefix dan alias akan mendorong kemampuan identifikasi tabel maupun kolom yang terlibat untuk perintah SELECT yang lebih kompleks.