<a href="https://colab.research.google.com/github/DevRichan/Fundamental-SQL-SELECT/blob/master/SELECT_WHERE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Using WHERE**
SELECT * FROM ms_produk WHERE nama_produk = 'Tas Travel Organizer DQLab';

**Where using OR**

SELECT nama_kolom from nama_tabel WHERE nama_kolom = kondisi1 or kondisi2

SELECT * FROM ms_produk WHERE nama_produk = 'Gantungan Kunci DQLab' or nama_produk = 'Tas Travel Organizer DQLab' or nama_produk = 'Flashdisk DQLab 64 GB'

**Where using AND`**
SELECT * FROM ms_produk WHERE nama_produk = 'Gantungan Kunci DQLab' AND harga < 50000

**Filter for number**

SELECT * FROM ms_produk WHERE harga > 50000

**Kesimpulan : **

Filter di SQL diimplementasikan dengan menggunakan WHERE diikuti dengan satu atau lebih kondisi logis.
Kondisi logis ini memiliki format nama kolom diikuti dengan nilai yang akan difilter. Untuk teks sederhana bisa menggunakan tanda sama dengan, sedangkan untuk nilai angka bisa menggunakan operator perbandingan matematika.
Aku juga bisa menggunakan operand OR dan AND untuk menggabungkan beberapa kondisi menjadi satu kondisi baru yang harus terpenuhi untuk pengambilan data.