<a href="https://colab.research.google.com/github/DevRichan/Fundamental-SQL-SELECT/blob/master/Structure_DBMS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Structure DBMS")

Structure DBMS

Struktur Hirarki

 - Database
   - Tabel
     - Kolom

satu database terdiri dari beberapa tabel, dan 1 tabel terdiri dari beberapa kolom

**Kesimpulan**
Wah ternyata seru sekali belajar SQL! 

Aku mulai membuka catataanku, mengambil pena, dan menuliskan apa yang aku pelajari:

Sistem relasional database atau relational database management system (RDBMS) adalah sistem database paling populer di dunia saat ini dan menggunakan bahasa SQL untuk pengolahannya.
Beberapa produk RDBMS yang terkenal antara lain adalah Microsoft SQL Server, Oracle, MySQL, PostgreSQL, IBM DB2, dan masih banyak lainnya.
Struktur penyimpanan data di RDBMS menggunakan hirarki:
Database
Tabel (Table)
Kolom (Column)
Data akan diisi ke dalam table dalam bentuk Baris (Row) data